@charset "utf8";

body{
    background-image: linear-gradient(to right,rgb(125, 228, 193),rgb(15, 59, 44) );   
}
main{
    background-color:rgb(255, 255, 255);
    width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}
#amaral{
    text-shadow: 1px 2px 2px rgb(21, 81, 36);
    text-align: center;
    color: rgb(21, 81, 36);
    
    
    

}
h1{
    color: rgba(32, 79, 63, 0.92);

}
h2{
    color: rgba(49, 115, 92, 0.929);

}

p{
    text-indent: 10px;
    
}
.basico{
    color: rgba(255, 0, 0, 0.489);

}
.intermediario{
    color: rgba(255, 0, 43, 0.489);

}
.avançado{
    color: rgba(212, 0, 255, 0.489);
}
.destaque{
    background-color: aqua;
    border-radius: 10px;

}