@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap');

  :root{
    --font01:Verdana, Geneva, Tahoma, sans-serif;
    --font02:'Passion One', sans-serif;
    --font03: 'Sriracha','cursive';
    --font04: 'Raleway', sans-serif;
   
  }
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font01);
  
}
header{
    color: white;
    background-color: black;
    text-align: center; 
    
}
header>h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--font02);
    font-size: 6.5vw;
}
header>p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover,footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
    font-size: 2.1vw;
}
section.normal{
    background-color: white;
    color: black;

}
section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}
section.imagem>p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
}
footer{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}