@charset "utf8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#F08337,#F07120);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
}
h1{
    color: #F07120;
    text-align: center;
    text-shadow:1px 1px 2px #853909df;
}
h2{
    color: #ba4800;
}
p{
    text-align: justify;
}