@charset "utf8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#2B2A2A,#545252 );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
    margin: auto;
    padding: 10px;
    width: 600px;
}
h1{
    color: #545252;
    text-align: center;
    text-shadow: 1px 1px 3px #383232 ;
}
h2{
    color: #737272;
}
p{
    text-align: justify;
}
